{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="full-width pageContent">
	<section class="full-width text-center" style="padding: 40px 0;">
		<h3 class="text-center tittles">INFORME</h3>
		<!-- Tiles -->
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
					<br>
					<small>Administradores</small>
				</span>
			</div>
			<i class="zmdi zmdi-account tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
					<br>
					<small>Marcas</small>
				</span>
			</div>
			<i class="zmdi zmdi-accounts tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
					<br>
					<small>Proveedores</small>
				</span>
			</div>
			<i class="zmdi zmdi-truck tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
					<br>
					<small>Subcategorias</small>
				</span>
			</div>
			<i class="zmdi zmdi-label tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
					<br>
					<small>Elementos</small>
				</span>
			</div>
			<i class="zmdi zmdi-washing-machine tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
					<br>
					<small>Total</small>
				</span>
			</div>
			<i class="zmdi zmdi-shopping-cart tile-icon"></i>
		</article>
	</section>
</section>
{% endblock %}