<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sweetalert2.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/material.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/material-design-iconic-font.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.mCustomScrollbar.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="{{url_for('static', filename='js/material.min.js')}}" ></script>
	<script src="{{url_for('static', filename='js/sweetalert2.min.js')}}" ></script>
	<script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js')}}" ></script>
	<script src="{{url_for('static', filename='js/main.js')}}" ></script>
</head>
<body class="cover">
	<div class="container-login">
		<p class="text-center" style="font-size: 80px;">
			<i class="zmdi zmdi-account-circle"></i>
		</p>
		<p class="text-center text-condensedLight">Logeate con tu cuenta</p>
		<form action="{{ url_for('login') }}" method= "post" autocomplete="off">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" name ='username' type="text" id="username">
			    <label class="mdl-textfield__label" for="username">Usuario</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" name ='password' type="password" id="password">
			    <label class="mdl-textfield__label" for="password">Contraseña</label>
			</div>
			<div class="msg">{{ msg }}</div>
			<button type="submit" value="Login" id="SingIn" name="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">
				Ingresar <i class="zmdi zmdi-mail-send"></i>
			</button>
		</form>
		<a id="Register" class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/inventoryflask/register" style="color: #3F51B5; float:right;">
			Registrarse <i class="zmdi zmdi-mail-send"></i>
		</a>
	</div>
</body>
</html>